/* NavBar.css */
.navbar {
  border-bottom: 1px solid #ccc; 
  background-color: aliceblue;
  margin-bottom: 2rem;
}

.navbar-brand {
  position: relative;
}

nav a.active {
  font-weight: bold;
  border-bottom: 5px dotted;
  box-sizing: border-box;
}

nav a.active:hover {
  color: rgb(62, 62, 139);
}

nav a:hover {
  text-decoration: none;
  color: rgb(62, 62, 139);
}

nav a.active.navbar-brand {
  border-bottom: none;
}

nav a:not(.navbar-brand):hover {
  font-weight: bold;
  color: rgb(62, 62, 139);
}
